@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';


.cardparticipation {
    width: 23%;
    height: auto;
    border: solid 1px $navy_bleu_color;
    border-radius: 10px;
    padding: 0 1% 1% 1%;

    @media (max-width:770px) {
        width: 100%;
        margin: 2%;
    }

    div {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background-color: $navy_bleu_color;
        border-radius: 0 0 10px 10px;

        img {
            width: 100%
        }
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center
    }

    p {
        @include paragraphe;
        margin: 0;
        text-align: center;
    }
}