@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';

.groupeBoutton {
    position: absolute;
    right: 5%;
    top: 29%;
    padding: 3%;
    background: rgba(0, 0, 0, 0.424);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 30%;

    @media (max-width:770px) {
        width: 90%;
        top: unset;
        bottom: 5%;
        right: 5%;
        height: 33%;
    }

    button {
        @include button;
        padding: 5% 0%;
    }
}