@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';

.SectionSante {
    background-image: url('../../images/BAC/bgsante.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    background-position: right 0 bottom 0;
    background-size: 38% auto;
    background-color: #F5F9FB;
    width: 100%;
    height: auto;
    padding: 3% 6%;
    flex-wrap: wrap-reverse;

    @media (max-width:770px) {
        padding: 0;
        overflow-y: scroll;
    }

    .SectionSante_comment {
        width: 55%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;

        @media (max-width:770px) {
            width: 100%;
        }

        h2 {
            @include title;
            text-align: left;
            width: 100%;

            @media (max-width:770px) {
                text-align: center;
            }
        }

        p {
            @include paragraphe;
            padding: 0 4% 8% 0;

        }

        .logoPartenaire {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            padding-bottom: 10%;

            div {
                width: 30%;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                margin-right: 2%;
                padding: 1%;

                img {
                    width: 100%;
                }
            }


        }

        button {
            @include button;
            background-color: $navy_bleu_color;
            color: white;
            padding: 3%;
        }
    }

    .SectionSante_illustration {
        width: 40%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        @media (max-width:770px) {
            width: 100vw;
            height: 35%;
            flex-wrap: unset;
            background-color: rgb(221, 155, 155);
        }

        div {
            width: 40%;
            height: 30%;
            margin: 1.3%;
            border-radius: 10px;

            @media (max-width:770px) {
                width: 100vw;
                height: 100%;
            }

            &:nth-child(1) {
                @media (max-width:770px) {
                    width: 100vw;
                    height: 100%;
                }

                width: 54%;
                background-color: #fff;
            }

            &:nth-child(4) {
                @media (max-width:770px) {
                    width: 100vw;
                    height: 100%;
                }

                width: 54%;
                background-color: #fff;
            }

            img {
                @media (max-width:770px) {
                    border: unset;
                }

                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: solid 4px #047AAD;


            }
        }
    }
}