@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';


.SectionContreparti {
    padding: 4% 4%;
    background-color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    .SectionContreparti_comment {
        width: 70%;
        padding: 0 3% 0 0;
        height: auto;

        @media (max-width:770px) {
            width: 100%;
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-content: center;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            button {
                padding: 1.5%;
            }
        }

        h2 {
            @include title;
        }

        p {
            @include paragraphe;

            .EnSavoirPlus {
                @include paragraphe;
                color: $navy_bleu_color;
                text-decoration: underline;
            }
        }

        button {
            @include button;
            background-color: $navy_bleu_color;
            color: white;
            padding: 2%;

        }


    }

    .SectionContreparti_image {
        @media (max-width:770px) {
            width: 80%;
            margin: 0 auto;
        }

        width: 30%;
        height: auto;
        border: 10px dashed $navy_bleu_color;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border: solid 10px $navy_bleu_color;
            border-radius: 50%;
        }
    }
}