@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';

.sectionSensibilisation {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color: $navy_bleu_color;
    flex-wrap: wrap;

    .sectionSensibilisation_illustrationImage {
        position: relative;
        padding: 2% 2% 2% 0;
        width: 49%;
        height: 100%;
        border-radius: 0 45% 45% 0;
        background: linear-gradient(268.59deg, rgba(0, 103, 148, 0.44) 7.62%, rgba(0, 103, 148, 0.44) 56.62%, rgba(0, 103, 148, 0.48) 100.97%, rgba(0, 103, 148, 0.47) 104.98%);

        @media (max-width:770px) {
            width: 100%;
            border-radius: unset;
            padding: unset;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 0 45% 45% 0;

            @media (max-width:770px) {
                border-radius: unset;
            }

        }

        .masque {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(268.59deg, rgba(9, 79, 109, 0.534) 7.62%, rgba(0, 103, 148, 0.44) 56.62%, rgba(0, 103, 148, 0.48) 100.97%, rgba(0, 103, 148, 0.47) 104.98%);
            border-radius: 0 45% 45% 0;
            top: 0;

            @media (max-width:770px) {
                border-radius: unset;
            }
        }
    }

    .sectionSensibilisation_comment {
        box-sizing: border-box;
        width: 48%;
        padding-top: 4%;

        @media (max-width:770px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10%;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        h2 {
            @include title;
            color: white;
        }

        p {
            @include paragraphe;
            color: white;

            a {
                color: $yello_color;
                text-decoration: underline;
            }
        }

        .etablissements {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 10%;

            .etablissements_item {
                width: 30%;
                display: flex;
                align-items: center;

                div {
                    border-radius: 50%;

                    img {
                        width: 100%;
                        background: rgba(0, 103, 148, 0.44);

                    }
                }

                span {
                    font-family: 'Roboto', sans-serif;
                    margin: 0 5%;
                    color: white;
                }
            }
        }

        button {
            @media (max-width:700px) {
                padding: 5%;
            }

            @include button;
            padding: 2.5%;
            margin-top: 10%;
            background-color: $yello_color;
        }
    }
}