@import '../../styles/mixin_colors.scss';
@import '../../styles/mixin_typography.scss';

.container_intro {
	background   : linear-gradient(90deg, rgba(2, 68, 98, 1) 0%, rgba(0, 63, 90, 1) 9%, rgba(0, 83, 118, 1) 97%);
	color        : white;
	height       : 45vh;
	margin       : 0 0 0 3%;
	border-radius: 0 0 0 200px;

	.container_items {
		display      : flex;
		position     : relative;
		margin-left  : 10%;
		margin-right : 5%;
		margin-bottom: 0;

		.items0 {
			background-color: rgba(0, 0, 0, 0.27);
			color           : $yello_color;
			float           : left;
			font-family     : sansation;
			font-weight     : 700;
			font-size       : 6.25rem;
			text-align      : center;
			width           : 8.1%;
			margin-left     : 0;
			padding-top     : 25vh;
		}

		.items1 {
			//background-color: rgb(240, 24, 240);
			color         : rgba(255, 255, 255, 0.27);
			width         : 45%;
			//border-right: grey 2px solid;
			text-align    : left;
			font-size     : 3rem;
			font-family   : sansation;
			padding-top   : 28.5vh;
		}

		.items2 {
			@include paragraphe;
			//background-color: rgb(10, 8, 5);
			width       : 48%;
			text-align  : left;
			font-size   : 1.13rem;
			font-weight : 500;
			padding     : 14px;
			padding-left: 130px;
			padding-top : 25vh;
		}

		.items3 {
			//background-color: rgb(55, 241, 9);
			width      : 0.1%;
			padding-top: 44.9vh;
		}
	}
}
@mixin circle ($width, $height) {
	.circle {
		margin-left     : 2%;
		background-color: $navy_bleu_color;
		color           : $yello_color;
		height          : $height;
		width           : $width;
		border-radius   : 100%;
		font-size       : 1.5rem;
	}

}

@mixin big_title($color) {
	.container_title {
		text-align : center;
		margin-top : 5%;
		color      : $color;
		font-size  : 2.25rem;
		font-family: acme;
	}

}

.container_objectif {
	@include big_title($navy_bleu_color);

	.container_objectif_items {
		display    : flex;
		font-family: roboto;
		color      : rgb(51, 50, 50);
		width      : 70%;
		margin     : auto;
		margin-top : 5%;
	}

	.objectif_items1 {
		@include circle (14%, 38%);
		display      : flex;
		border-right : solid 1px rgb(114, 114, 114);
		text-align   : center;
		font-size    : 1.5rem;
		width        : 50%;
		padding-right: 4%;
	}

	.objectif_items2 {
		@include circle(9%, 38%);
		display     : flex;
		padding-left: 6%;
		text-align  : center;
		font-size   : 1.5rem;
		width       : 50%;
	}
}

.container_finalite {
	@include big_title($navy_bleu_color);
	h2 {
		margin-bottom: 5%;
	}

	.container_finalite_items {
		display: flex;

		.fond {
			height          : 33%;
			background-color: rgba(4, 92, 130, 1);
			width           : 100%;
			position        : absolute;
			z-index         : -1;
			margin-top      : 4%;
		}
	}
}