@import '../mixin_colors.scss';
@import '../mixin_typography.scss';

.cardorganisation {
	box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	font-family     : roboto;
	max-width       : 70%;
	margin-top      : 5%;
	margin          : auto;
	border-radius   : 15px 0 15px 0;

	.cardorganisation_header {
		display         : flex;
		justify-content : space-between;
		background-color: $navy_bleu_color;
		height          : 6vh;
		border-radius   : 15px 0 0px 0;
		color           : white;
		font-family     : roboto;
		font-size       : 2rem;
		font-weight : bold;

		@mixin aligntitle_header {
			display        : flex;
			justify-content: center;
			align-items    : center;
		}

		.cardorganisation_title1 {
			@include aligntitle_header();
			background-color: $yello_color;
			width           : 7%;
			border-radius   : 15px 0 0 0;
			color           : $navy_bleu_color;
		}
		.cardorganisation_title2 {
			@include aligntitle_header();
		}

		.cardorganisation_title3 {
			@include aligntitle_header();
			background-color: $navy_bleu_color;
			width           : 5%;
		}
	}
}